body {
    background-color: white;
    padding-left: 50px;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;

}
.table{
    position: center;
    width: 50%;
}
