<form method="post" action="{{ path('product_catalog_delete', {'id': product_catalog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_catalog.id) }}">
    <button class="btn">Delete</button>
</form>
