{% extends 'base.html.twig' %}

{% block title %}Edit ProductCatalog{% endblock %}

{% block body %}
    <h1>Edit ProductCatalog</h1>

    {{ include('product_catalog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_catalog_index') }}">back to list</a>

    {{ include('product_catalog/_delete_form.html.twig') }}
{% endblock %}
