{% extends 'base.html.twig' %}

{% block title %}ProductCatalog index{% endblock %}

{% block body %}

    <h1>ProductCatalog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>ManufactureDate</th>
                <th>Description</th>
                <th>Certifications</th>
                <th>Constituents</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_catalog in product_catalogs %}
            <tr>
                <td>{{ product_catalog.id }}</td>
                <td>{{ product_catalog.Name }}</td>
                <td>{{ product_catalog.Price }}</td>
                <td>{{ product_catalog.ManufactureDate ? product_catalog.ManufactureDate|date('Y-m-d') : '' }}</td>
                <td>{{ product_catalog.Description }}</td>
                <td>{{ product_catalog.Certifications }}</td>
                <td>{{ product_catalog.Constituents }}</td>
                <td>
                    <a href="{{ path('product_catalog_show', {'id': product_catalog.id}) }}">show</a>
                    <a href="{{ path('product_catalog_edit', {'id': product_catalog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_catalog_new') }}">Create new</a>
{% endblock %}
