{% extends 'base.html.twig' %}

{% block title %}New ProductCatalog{% endblock %}

{% block body %}
    <h1>Create new ProductCatalog</h1>

    {{ include('product_catalog/_form.html.twig') }}

    <a href="{{ path('product_catalog_index') }}">back to list</a>
{% endblock %}
