{% extends 'base.html.twig' %}

{% block title %}ProductCatalog{% endblock %}

{% block body %}
    <h1>ProductCatalog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_catalog.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_catalog.Name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product_catalog.Price }}</td>
            </tr>
            <tr>
                <th>ManufactureDate</th>
                <td>{{ product_catalog.ManufactureDate ? product_catalog.ManufactureDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product_catalog.Description }}</td>
            </tr>
            <tr>
                <th>Certifications</th>
                <td>{{ product_catalog.Certifications }}</td>
            </tr>
            <tr>
                <th>Constituents</th>
                <td>{{ product_catalog.Constituents }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_catalog_index') }}">back to list</a>

    <a href="{{ path('product_catalog_edit', {'id': product_catalog.id}) }}">edit</a>

    {{ include('product_catalog/_delete_form.html.twig') }}
{% endblock %}
